@page
@using AdressenMeister.Web.Models
@using DatenMeister.Core.Helper
@model User
@{
    ViewData["Title"] = "Benutzer-Bereich";
    ViewBag.Mode = PageSection.User;
}

<div class="text-center">
    <h1 class="display-4">Der Abitur-Jahrgang 2001</h1>
    <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Vorname</th>
                    <th>Straße</th>
                    <th>Postleitzahl</th>
                    <th>Stadt</th>
                    <th>Telefonnummer</th>
                    <th>E-Mail</th>
                </tr>
                </thead>
                @foreach (var user in Model.GetUsers())
                {
                    <tr>
                        <td><input type="checkbox" name="email_@(user.getOrDefault<string>(nameof(AdressenUser.email)))" value="1"/></td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.name)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.prename)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.street)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.zipcode)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.city)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.phone)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.email)))</td>
                    </tr>
                }
            </table>
</div>