@page
@using AdressenMeister.Web.Models
@using DatenMeister.Core.Helper
@model User
@{
    ViewData["Title"] = "Benutzer-Bereich";
    ViewBag.Mode = PageSection.User;
}

<div class="text-center">
    <h1 class="display-4">Der Abitur-Jahrgang 2001</h1>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <a href="/UserChange"><input type="button" class="btn btn-primary" value="Deine Daten ändern" /></a><br />
            </div>
        </div>
    </div>
    <table class="table table-striped">
                <thead class="thead-light">
                <tr>
                    <th>Name</th>
                    <th>Vorname</th>
                    <th>Telefonnummer</th>
                    <th>E-Mail</th>
                    <th>Straße</th>
                    <th>Postleitzahl</th>
                    <th>Stadt</th>
                </tr>
                </thead>
                @foreach (var user in Model.GetUsers())
                {
                    <tr>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.name)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.prename)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.phone)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.email)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.street)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.zipcode)))</td>
                        <td>@(user.getOrDefault<string>(nameof(AdressenUser.city)))</td>
                    </tr>
                }
            </table>
</div>